<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Comments</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
  <h2>All Comments</h2>
  <ul class="responses">
  	<li class"header">
  		<b>email - body</b>
  	</li>
  <% for(var i=0; i<comments.length; i++) {%>
    <% if (comments[i].name.toString() == name) {%>

    <li class="response">
      <span><%= comments[i].email %></span>
      - 
      <span><%= comments[i].body %></span>
    </li>
    <% } %>
  <% } %>

</body>
</html>
